<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<footer th:fragment="footerFragment">
    <ul>
        <li>
            <a href="/">
                <button id="home" type="button" name="button">
                    <img src="/img/footer/1.png" alt="home">
                </button>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/footer/2.png" alt="location">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/footer/3.png" alt="heart">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/footer/4.png" alt="my-page">
            </a>
        </li>
        <li>
            <a href="#">
                <button id="btn-modal" type="button" name="button">
                    <img src="/img/footer/5.png" alt="setting">
                </button>
            </a>
        </li>
    </ul>
</footer>

</html>



