<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<div id="modal" th:fragment="modalFragment">
    <dl>
        <dt>

        </dt>
        <dd>
            <div id="google_translate_element"></div>
        </dd>
        <dl>
            <dd>해당 웹 어플리케이션은 기본 언어가 한국어입니다.</dd>
            <dd>중국어 간체 번역을 지원하고 있습니다.</dd>
        </dl>
        <dl>
            <dd>Simplified Chinese translation is supported.</dd>
            <dd>The default language for this web application is Korean.</dd>
        </dl>

        <dd class="btn-close">
            <button id="close" type="button">
                <img src="img/close.png" alt="close">
            </button>
        </dd>
    </dl>
</div>

</html>



