<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>

    <tx:annotation-driven />

    <context:component-scan base-package="repository, service" />

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://captanp696.cafe24.com/captanp696" />
        <property name="username" value="captanp696" />
        <property name="password" value="parkli**99" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="true" />
        <property name="validationInterval" value="10000" />
        <property name="logValidationErrors" value="true" />
        <property name="validationQuery" value="SELECT 1" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="model" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL5InnoDBDialect
                </prop>
                <prop key="hibernate.show_sql">
                    true
                </prop>
                <prop key="hibernate.format_sql">
                    true
                </prop>
                <prop key="hibernate.use_sql_comments">
                    true
                </prop>
                <prop key="hibernate.id.new_generator_mappings">
                    ture
                </prop>
                <prop key="hibernate.c3p0.min_size">
                    5
                </prop>
                <prop key="hibernate.c3p0.max_size">
                    20
                </prop>
                <prop key="hibernate.c3p0.timeout">
                    300
                </prop>
                <prop key="hibernate.c3p0.max_statements">
                    50
                </prop>
                <prop key="hibernate.c3p0.idle_test_period.timeout">
                    3000
                </prop>
            </props>
        </property>
    </bean>


</beans>