<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <ul>
        <li><a href="admin/house-list">하우스</a></li>
        <li><a href="#">관광지</a></li>
        <li><a href="#">숙박</a></li>
    </ul>
</header>
<form action="admin/house-list/search" method="get">
        <input type="text" name="houseSearchKeyword">

        <input type="submit" value="보내기">
</form>
<div class="container">

</div>

</body>
</html>